.div {
    background: rgba(216, 223, 230, 0.205);
    padding: 100px 30px;
    margin-left: 30px;
    margin-top: 20px;
}

.about-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}